
@{
    ViewBag.Title = "DateExample";
}

<h2>DateExample</h2>
<script>
    $(function() {
        $("#datepicker").datepicker();
        $("#datepicker").datepicker("setDate", "0");
    });
</script>

<div>
    <input id="datepicker" type="text"/>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @if (Culture != "en")
    {
        @Scripts.Render("~/bundles/localization-" + Culture)
    }
}
