@{
    ViewBag.Title = "Table";
}
@Scripts.Render("~/bundles/datatables")

<script>
    var dataSet = JSON.parse('@Html.Raw(ViewData["list"].ToString())');
    $(document).ready(function () {
        $('#users').DataTable({
            data: dataSet,
            columns: [
                { data: "Username" },
                { data: "Email" },
                { data: "Password" },
                { data: "Age" },
                { data: "Birthday" },
                { data: "Rand" }
            ]
        });
    });
</script>

<h2>Table</h2>
<table id="users">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Password</th>
            <th>Age</th>
            <th>Birthday</th>
            <th>Rand</th>
        </tr>
    </thead>
</table>